.coupon-item {
  position: relative;
  width: 410px;
  height: 125px;
  background: radial-gradient(transparent 0, transparent 5px, #f39b00 5px);
  background-size: 15px 15px;
  background-position: 11px 3px;
  color: #fff;
}
.coupon-item:before {
  position: absolute;
  left: 10px;
  bottom: 0;
  content: '';
  width: 390px;
  height: 120px;
  z-index: -1;
  /*background-color: #0e90d2;*/
  background-color: #f39b00;
}
.coupon-item i {
  position: absolute;
  left: 20%;
  top: 45px;
  height: 190px;
  width: 390px;
  background-color: rgba(255, 255, 255, 0.15);
  transform: rotate(-30deg);
}
.coupon-item .coupon-layout {
  display: inline-flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.coupon-item .coupon-layout .coupon-left {
  flex: 70%;
  height: 100%;
  border-right: 2px dashed #f3c92b;
}
.coupon-item .coupon-layout .coupon-right {
  flex: 30%;
}
