.container {
  width: 100%;
  position: relative;
}
.code-wrap {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  height: 400px;
  margin: 20px 0;
  position: relative;
}
.css-live-wrap {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

.code {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  background: #333;
  display: block;
  float: right;
  padding: 1em;
  font-family: Consolas, Monaco, monospace;
  white-space: pre;
  color: #fff;
  /*text-shadow: 0 1px 1px white;*/
  overflow-y: scroll;
}
.demo-wrap {
  /*margin-top: 80px;*/
  padding: 60px 20px 20px;
}
summary {
  position: absolute;
  cursor: default;
  left: 0;
  color: #999;
  font-size: 14px;
  line-height: 18px;
  margin: 20px 0 0 20px;
  padding: 0 10px;
  text-shadow: 0 0.2px hsl(0, 0%, 85%);
  background: linear-gradient(#ff9800, #ff9800) no-repeat;
  background-size: 100% 1px;
  background-position: -400px bottom;
  transition: 0.5s;
}

summary:nth-child(2) {
  margin-top: 60px;
}

summary:nth-child(3) {
  margin-top: 100px;
}

summary:hover {
  background-position: -0em bottom;
}
summary strong {
  color: #000;
  font-size: 16px;
}
